# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test / coverage
coverage/

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma local sqlite (if any)
*.db
